* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(black, gray);
    line-height: 1.6;
    color: #333;
}

/* Контейнеры */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

/* Заголовки */
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
    color: #fff;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    color: #444;
}

h3 {
    font-size: 1.8em;
    color: #555;
}

.auth-buttons a{
    text-decoration: none;
    color: #fff;
    justify-content: center;
}

.auth-buttons a:hover{
    text-decoration: none;
    color: #b71c1c;
    justify-content: center;
}

/* Кнопки */
.btn, .btn-small {
    display: inline-block;
    background-color: #d32f2f;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover, .btn-small:hover {
    background-color: #efefef;
    color: #b71c1c;
}

.btn-small {
    padding: 8px 15px;
    font-size: 0.9em;
}

/* Ссылки */
a {
    text-decoration: none;
    color: #007bff;
}
a:hover {
    color: #e0e0e0;
}

/* Шапка (фиксированная) */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.8);;
    height: 60px;
    z-index: 999;
    display: flex;
    align-items: center;
}

.header-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Меню навигации */
.menu {
    display: flex;
    gap: 15px;
}

.menu a {
    color: #fff;
    font-weight: 600;
    padding: 8px 12px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #333;
    border-radius: 4px;
}

/* Блок кнопок авторизации */
.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons button {
    padding: 8px 12px;
    font-size: 0.9em;
}

/* Основные секции */
.hero-section {
    background: url('/assets/images/soldatskii-slem-v-vintaznom-stile-naturmort.jpg') no-repeat center center/cover;
    height: 70vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    display: grid;
    padding-top: 60px;
    
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 70%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content p {
    font-size: 1.8em;
    margin-bottom: 30px;
    font-weight: 300;
}

/* Остальные секции */
.welcome-section, .ex-section, .heroes-section, .archive-section, .about-section, .contact-section, .news-section {
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.welcome-section p {
    text-align: center;
    font-size: 1.1em;
    max-width: 700px;
    margin: 0 auto;
}

.ex-grid, .heroes-grid, .container-news {
    display: grid;
    gap: 30px;
}

.ex-grid, .container-news {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.ex-item, .hero-card, .new {
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    padding-bottom: 20px;
    transition: transform 0.3s ease;
}
.ex-item:hover, .hero-card:hover , .new:hover{
    transform: translateY(-5px);
}
.ex-item img, .hero-card img, .new img {
    width: 100%;
    height: 200px; /* для экспозиций, для героев 250px */
    object-fit: cover;
}
.hero-card {
    height: 370px;
}
.hero-card h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}
.hero-card p {
    padding: 0 15px;
    font-size: 0.9em;
    color: #666;
}
.heroes-section{
    display: grid;
    max-width: 900x;
    margin: 0 auto;
}

.contact-section a{
    color: #b71c1c;
}

.contact-section a:hover{
    color: black;
}

/* Архив, о, контакты */
.archive-section, .about-section, .contact-section {
    text-align: center;
}
.archive-section p, .about-section p, .contact-section p {
    font-size: 1.1em;
    color: #666;
    max-width: 700px;
    margin: 0 auto 20px auto;
}

.news-section a{
    display: flex;
    justify-self: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #b71c1c;
    font-size: 18px;
    font-weight: bolder;
}

.news-section a:hover{
    color: black;
}

.create-line{
    border-top: 3px solid #b71c1c;
    display: flex;
    margin: auto;
    margin-top: 10px;
    width: 90px;
    height: 4px;
}

.new{
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
}

/* Подвал */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
footer .footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Адаптивность */
@media(max-width:768px){
    header {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }
    .header-container {
        flex-direction: column;
        align-items: center;
    }
    .menu {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
    .hero-content {
        font-size: 1.2em;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    .ex-item img {
        height: 150px;
    }
    .hero-card {
        height: auto;
    }
}

@media(max-width:480px){
    h1 {
        font-size: 2em;
    }
    .ex-item img {
        height: 120px;
    }
    .hero-card {
        height: auto;
    }
}